* text=auto
*.py text eol=lf
*.md text eol=lf
*.svg text eol=lf
*.csv text eol=lf
*.ps1 text eol=crlf
*.yaml text eol=lf
*.yml text eol=lf
*.cff text eol=lf
*.command text eol=lf
*.bat text eol=crlf
*.xlsx binary
*.docx binary
*.pdf binary
*.png binary
*.ico binary
*.zip binary
*.exe binary
